.quantum-animation-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.quantum-animation-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}